div(class="")
    each track in collections.audio
        div(class="d-flex mb-30" )
            h2(class="ff-titles fs-24 sm__fs-36 mb-20")
                a(class="under" href=urlResolve(track, language)) #{track.title}
            div 
                
