extends _layout.pug
block title
    title #{get(title)} - #{siteTitle}

block meta

block content
    section
        header(class="pr-15 pl-15 mb-90")
            - var pagetitle = get(title)
            include includes/pagetitle.pug
            
        div(class="pr-15 pl-15")
            each link in links
                div
                    a(class="underline fs-18 lh-20" target="_blank" href=link.link) #{link.text}
