extends _layout.pug
block title
    title #{get(title)} - #{siteTitle}

block meta

block content
    section
        header(class="pr-15 pl-15 mb-90")
            - var pagetitle = get(title)
            h1(class="ff-titles fs-36 md__fs-72 lh-10 tt-upper ta-center") #{pagetitle}

        include includes/memberlist.pug
                
                